.App {
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(177, 79, 14);
   
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: blanchedalmond;
}

.nav-links:hover{
    color: rgb(59, 52, 41);
    transition-delay: 0.1s;
}



